@font-face {
	font-family: 'white_rabbitregular';
	src: url('assets/whiterabbit-webfont.woff2') format('woff2'),
		 url('assets/whiterabbit-webfont.woff') format('woff'),
		 url('assets/whiterabbit-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.global-footer-filled {
  text-align: center;
  position: fixed;
  line-height:0.5;
  height: 10%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#101215;
  background-image: repeating-linear-gradient(#0e0e0e, #0e0e0e 2px, #101215 2px, #101215 4px);
  background-size:100% 4px;
}

.hackmud-logo {
	white-space: pre;
}

a[href],
a[href]:active,
a[href]:visited,
a[href]:link {
	color:#83B0F2;
}

div.chat {
	border-top:1px dashed #83B0F2;
	border-bottom:1px dashed #83B0F2;
	padding-top:1em;
	padding-bottom:1em;
}
div.script {
	padding-top:0;
	padding-bottom:0;
}
img {
	border:2px solid #83B0F2;
}

body {
	background-color:#101215;
	word-wrap:break-word;
	white-space:pre-wrap;
	color:#83B0F2;
	height: 100%;
	font-family:white_rabbitregular,monospace;
	line-height:1.1;
	background-image: repeating-linear-gradient(#0e0e0e, #0e0e0e 2px, #101215 2px, #101215 4px);
	background-size:100% 4px;
	padding-bottom: 10%;
}

.list-body {
	line-height:0.7;
	padding-top:0;
	padding-bottom:0;
	color:#FFF;
	align:center;
	text-align:center;
}

table,
tr,
td {
	border-collapse:collapse;
}
td {
	padding:1em;
	max-width:500px;
	word-wrap: break-word;
	white-space:pre-wrap;
	color:#83B0F2;
	font-family:white_rabbitregular,monospace;
	line-height:1.1;
	vertical-align:top;
	border:1px solid #83B0F2;
	border-collapse:collapse;
}
table.nopadding td,table.nopadding th,td.nopadding {
	padding:0;
}
table.noborder td,table.noborder th,td.noborder {
	border-width:0;
}
table.wide td {
	max-width:none;
}
td.topborder {
	border-width:0;
	border-top:1px dashed #83B0F2;
}
td.solidtopborder {
	border-width:0;
	border-top:1px solid #83B0F2;
}
td.dashed {
	border-left:1px dashed #83B0F2;
	border-right:1px dashed #83B0F2;
	text-align:center;
}
.good_end {
	background-color:rgba(255,0,255,0.1);
}
.special_end {
	background-color:rgba(0,255,0,0.2);
}
.dead_end {
	background-color:rgba(0,255,255,.1);
}
.bad_end {
	background-color:rgba(255,0,0,.1);
}
.selected {
	border:5px solid yellow;
	padding:0 1em 1em 1em;
}
